#login {
	background: #f7f7f7;
	width: 40%;
	height: 500px;
	margin: 0 auto;
	padding: 50px;


}
#a1 {
	font-size: 30px;
	
}
#aa1 {
	display: inline-block;
}
#aa2 {
	display: inline-block;
	padding-left: 245px;
}
.fb {
	font-size: 20px; 
	height: 50px;
	width: 100%;
	background: #6666FF;
	color: white;
	border-radius: 7%;
	
}
.tw {
	font-size: 20px;
	height: 50px;
	width: 100%;
	background: #9999FF;
	color: white;
	border-radius: 7%; 

}
.aa {

}
#bb1 {
	padding-top: 50px;

}
#bb2 {
	padding-top: 50px;
	margin-bottom: 35px;
}
#bb3 {
	margin-top: 20px;
	margin-bottom: 35px;
}
#bb3>span{
	color:blue;
}

#cc1>input{
	padding: 10px 10px;
    width: 96%;
    margin-top: 20px; 
}
.lg {
	color: white;
	font-size: 20px;
	background-color: #ce4a4a;
	padding:5px 10px;
	margin-top: 20px;
}
.footer>div{
	display: inline-block;
}
.lgg{
	float:right;
}
#dd1 {
	margin-top: 20px;
	margin-bottom: 20px; 
	color: #999999;
}
